

.search-container{
    width:1000px ;
    background: white;
    padding: 30px;
    border-radius: 10px;
    position: relative;
}

.search-container .inputs{
    height: 40px;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

.search-container .inputs input{
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}

.search-container .inputs input:focus{
    border-color: rgb(27, 26, 26);
}

.search-container .inputs label{
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    font-size: 16px;
    transition: 0.3s;
}

.search-container .inputs input:focus ~ label,
.search-container .inputs input:valid ~ label{
    transform: translateY(-23px);
    color: black;
}



.btn-search{
    border: none;
    background-color: transparent;
    margin-bottom: 20px;
   
   
}


.icon-search{
    font-size: 20px;
    color: rgb(77, 72, 72);
    position: absolute;
    z-index: 3;
    right: 0;
    top: 0;
}

@media screen and (max-width: 1000px) {
    .search-container {
      width: 350px;
    }
  }


        /* Nascondi il pulsante di cancellazione nel campo di input di ricerca */
        .boxSearchForm input[type="search"]::-webkit-search-cancel-button {
            -webkit-appearance: none;
            appearance: none;
            display: none;
        }

        .boxSearchForm input[type="search"]::-ms-clear {
            display: none;
        }
   
