.imglogo{
  width: 150px;
}
.navbar .navbar-nav .nav-link {
  color: #000000;
  font-size: 18px;
  font-weight: normal;

}
.navbar .navbar-nav .nav-link:hover{
  color: black;
}

@media only screen and (min-width: 992px) {
  .navbar {
    flex-direction: column;
  }
}

@media only screen and (min-width: 992px) {
  .navbar {
    flex-direction: column;
  }

  .navbar .nav-item {
    padding: 0.5em 1em;
  }
}
.navbar .navbar-nav {
  margin-top: 0.5em;

}

.img-custom{
  width: 300px;
}

@media screen and (max-width: 600px) {
  .img-custom {
      width: 170px;
  }
}

/* .bg-custom {
  background-image: linear-gradient(to right top, #1b191b, #222225, #292b2f, #2f3538, #373f40, #394345, #343e3d, #333d3b, #283230, #1d2826, #121e1c, #021512);
}
.custom-footer {
  background-image: linear-gradient(to right top, #1b191b, #222225, #292b2f, #2f3538, #373f40, #353e3f, #343e3d, #333d3b, #283230, #1d2826, #121e1c, #021512);
} */
.bg-custom {
background-color: rgba(128, 128, 128, 0.563);
}
.custom-footer {
background-color:  rgba(128, 128, 128, 0.563);


}


.button-logout{
border: none;
background: none;
}

@media screen and (max-width: 700px) {
.custom-footer {
  padding: 20px;
}
}





@media screen and (max-width: 700px) {
.customDropdown {
  padding: 5px;
}
}

@media screen and (max-width: 1000px) {
  .boxNavbar {
    display: flex;
    justify-content: start !important;
  }
}


@media screen and (max-width: 900px) {
  .custom-footer {
    height: 115vh;
  }
}




