.imglogo{
  width: 150px;
}
.navbar .navbar-nav .nav-link {
  color: #000000;
  font-size: 16px;
  font-weight: normal;

}
.navbar .navbar-nav .nav-link:hover{
  color: black;
}

@media only screen and (min-width: 992px) {
  .navbar {
    flex-direction: column;
  }
}

@media only screen and (min-width: 992px) {
  .navbar {
    flex-direction: column;
  }

  .navbar .nav-item {
    padding: 0.5em 1em;
  }
}
.navbar .navbar-nav {
  margin-top: 0.5em;

}

.img-custom{
  width: 300px;
}

@media screen and (max-width: 600px) {
  .img-custom {
      width: 170px;
  }
}


.bg-custom {
  background-image: linear-gradient(to right top, #373335, #343235, #303235, #2d3133, #2c3030, #2a2e2e, #292d2c, #272b2a, #242928, #222625, #1f2423, #1d2220);
}



.button-logout{
border: none;
background: none;
}

@media screen and (max-width: 700px) {
.custom-footer {
  padding: 20px;
}
}





@media screen and (max-width: 700px) {
.customDropdown {
  padding: 5px;
}
}

@media screen and (max-width: 1000px) {
  .boxNavbar {
    display: flex;
    justify-content: start !important;
  }
}


@media screen and (max-width: 900px) {
  .custom-footer {
    height: 115vh;
  }
}




